<f:layout name="Landingpage" />
<f:section name="Main">

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />

</f:section>
